.commentsDisplayTweetFeed{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
margin-top: 20px;
}


.commentIconFeed{

    /* display:grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px; */
}

.numberOfComments{
    margin-left: 10px;
    color:orange;
}


#commentIcon{
    color:orange;
}
