.userProfilePicOnSingleTweetPage{
    border-radius: 50%;
    height: 140px;
    width: 140px;
    /* display: flex;
    justify-content: center; */

}


.userProfilePicOnComment{
    border-radius: 50%;
    height: 80px;
    width: 80px;

}


.singleTweetBody{
    /* margin-left: 35%; */
margin-top: 70px;
display:flex;
justify-content: center;


}

.singleTweetBody2{

    display: flex;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    line-break: strict;

}

.singletweetBioNameWrapper{

display:flex;
align-items: center;
justify-content: center;
margin-top: 50px;


    word-wrap: break-word;
    line-break: strict;


}


.userInfoSingleTweetPageWrapper{

    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 80px;

    word-wrap: break-word;
    line-break: strict;
}

.singletweetUserNameWrapper{

    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 20px;
}


.singleTweetImgAndCreateAt{

    margin-top: 70px;
    padding-right: 90px;
    width:600px;

    border: solid rgb(47, 47, 47) .1px;
    border-width: thin;
    padding:30px;
    /* padding-left: 90px; */

    word-wrap: break-word;
    line-break: strict;
}

#buttonone {
    background-color: black;
    color: orange;
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#buttonone:hover{
    background-color: black;
    color: orangered;
}

.singleTweetsButton{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}




#singleTweet{
    display: flex;
justify-content: center;

word-wrap: break-word;
    line-break: strict;
}

#singleCreatedAt{
    /* margin-top: 70px; */
    color:orange;
    display: flex;
    justify-content: flex-end;

}



#singleComment{
    display: flex;
    align-items: center;
    flex-direction:column-reverse;

    margin-top: 25px;

    width: 770px;
    max-width: 770px;

    word-wrap: break-word;
    line-break: strict;

    border: solid rgb(47, 47, 47) .1px;
    border-width: thin;
    padding:30px;
}

#singleCommentText{
    /* max-width: 700px;

    word-wrap: break-word;
    line-break: strict;
    margin-top: 20px; */
}


#commentsUserNameAndPhoto{
    /* display: flex;
    justify-content: flex-start; */
    margin-right: 600px;

}

#singleCommentCreatedAt{
    display: flex;
    align-items:start;
    color: orange;
    margin-left: 530px;


}

#commentFucntionsButton{
    /* display: flex;
    justify-content:flex-start; */
    /* background-color: black;
    color: orange; */

}
#commentFunctionCreatedWrapper{
    display: flex;
    /* justify-content: center; */
    margin-top: 70px;
}

.editCommentButton{
     background-color: black;
    color: orange;
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.editCommentButton:hover{
    background-color: black;
   color: orangered;

}
