.userProfilePicOnSingleTweetPage{
    border-radius: 50%;
    height: 140px;
    width: 140px;
    /* display: flex;
    justify-content: center; */

}


.userProfilePicOnComment{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    vertical-align:middle;
    margin-right: 10px;
}


.singleTweetBody{
    /* margin-left: 35%; */
margin-top: 70px;
display:flex;
justify-content: center;


}

.singleTweetBody2{

    display: flex;
    align-items: center;
    flex-direction: column;
    word-wrap: break-word;
    line-break: strict;

}


.singletweetBioNameWrapper{


display: flex;
justify-content: center;
margin-left: 30%;
margin-right: 30%;
margin-top: 20px;
margin-bottom: 50px;
text-align: center;



    /* word-wrap: break-word;
    line-break: strict;
    vertical-align:middle; */

}


.userInfoSingleTweetPageWrapper{

    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 80px;

    word-wrap: break-word;
    line-break: strict;
}

.singletweetUserNameWrapper{

    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: 20px;
}


.singleTweetImgAndCreateAt{

    margin-top: 70px;
    padding-right: 90px;
    width:700px;
    /* height:200px; */
    border: solid rgb(47, 47, 47) .1px;
    border-width: thin;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    word-wrap: break-word;
    line-break: strict;
    box-shadow: 5px 5px 5px #9b7803;
}

#buttonone {
    background-color: black;
    color: orange;
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#buttonone:hover{
    background-color: black;
    color: orangered;
}

.singleTweetsButton{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}




#singleTweet{
    /* display: flex;
justify-content: center; */

word-wrap: break-word;
    line-break: strict;

    text-align: center;
    inline-size: 450px;
    margin-left: 18%;
}

#singleCreatedAt{
    /* margin-top: 70px; */
    color:orange;
    display: flex;
    justify-content: flex-end;

}



#singleComment{
    display: flex;
    align-items: center;
    flex-direction:column-reverse;

    margin-top: 25px;

    width: 770px;
    max-width: 770px;

    word-wrap: break-word;
    line-break: strict;

    border: solid rgb(47, 47, 47) .1px;
    border-width: thin;
    padding:10px;
    box-shadow: 5px 5px 5px #9b7803;
}

#singleCommentText{
    /* max-width: 700px;

    word-wrap: break-word;
    line-break: strict;
    margin-top: 20px; */
    text-align: center;
    inline-size: 450px;

}


#commentsUserNameAndPhoto{
    display: flex;
align-items: center;
    margin-right: 600px;
    /* vertical-align:middle; */
    margin-top: 1px;
    margin-left: 80PX;

}

#commentsUserNameAndPhoto2{
    display: flex;
align-items: center;
    margin-right: 600px;
    /* vertical-align:middle; */



}




#singleCommentCreatedAt{
    display: flex;
    align-items:start;
    color: orange;
    margin-left: 530px;


}

#singleCommentCreatedAt2{
    display: flex;
    /* align-items:start; */
    color: orange;
    margin-left: 700px;
    vertical-align:top;



}

#commentFucntionsButton{
    /* display: flex;
    justify-content:flex-start; */
    /* background-color: black;
    color: orange; */

}
#commentFunctionCreatedWrapper{
    display: flex;
    /* justify-content: center; */
    margin-top: 70px;
}

.editCommentButton{
     background-color: black;
    color: orange;
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.editCommentButton:hover{
    background-color: black;
   color: orangered;

}


.tweetCreatedAtTweetsFeed{
    display: flex;
    justify-content: flex-end;
    color: orange;
}

.my-heart {
    font-size: 1.6rem;
    padding-left: .75rem;
    padding-top: 0.5rem;
    color: rgb(36, 36, 36);
  }

  #editInlineTweetButton{
display: flex;
justify-content: space-between;


  }
  #singleTweetInline{
    height:70px;
    width: 500px;
    max-width: 500px;
    color: white;
    background-color: rgb(0, 0, 0);
    /* margin-left: 1em  ; */
    border: none;
    overflow: auto;
    outline: none;
    /* margin-right: 90px; */
    resize: none;
    caret-color: orangered;
    font-size: large;
    word-wrap: break-word;
    line-break: strict;

    text-align: center;
    inline-size: 450px;
    margin-left: 18%;

  }
 #inlineEditForm{
     display: flex;
     flex-direction:column;
 }
