.tweetFeedBody{
    /* background: black; */
        /* color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        /* margin-top: 45%; */
        /* left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        overflow:scroll;  */
        /* left: 50%; */
        /* margin-right: -50%; */
        border-radius: 2em;
        padding-left: 30em;
        padding-right: 30em;
        padding-top: 5px;
}

.userPhotoNextToCreateATweet{
    border-radius: 50%;
    height: 80px;
    width: 80px;


}

.navigationOnFeed{
margin-top:140px;


}


.feedWrapper{
    /* display:grid;
    grid-template-columns: fr; */

}


.tweetFeedSingleTweetWrapper{
    border: solid rgb(47, 47, 47) .1px;
    border-width: thin;
    padding:20px;
    padding-left: 90px;
    padding-right: 90px;
    word-wrap: break-word;
    line-break: strict;

    /* display: grid;
    justify-items: start; */


}



/* .tweetFeedSingleTweetWrapper a{
margin-left: 40px;

} */

.userPhotoTweetFeed{
    margin-right: 500px;



}


.divider{
    margin-top: 30px;
}

.createTweetForm{

display: flex;
justify-content: center;

/* border: solid rgb(47, 47, 47) .1px;
border-width: thin; */
padding:20px;
margin-left: 30em;
margin-right: 30em;
padding-bottom:10px ;
padding-top:90px;

}

.tweetArraySingTweetFeedWrapper{

}

.tweetsPage{



}


/* .feedColumns{
    display:grid;
    grid-template-columns: 2fr 2fr  ;
    /* content: "";
    display: table;
    clear: both;
}*/

/* #left{
    width: 20%;
}

#middle{
    width: 50%;
} */

.tweetAssemblyOnFeed{
    /* margin-left: 50px; */
}
