.userProfilePicOnFeed{
    border-radius: 50%;
    height: 70px;
    width: 70px;


}

.userDisplayWrapper{
    margin-bottom: 25px;
}

.createdAtAndCommentsDiv{
    display: flex;
    justify-content: space-between;

}
