.userProfilePicOnFeed{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: black ;
    text-decoration: none;
	border: 0 none;

}

.userDisplayWrapper{
    margin-bottom: 25px;
}

.createdAtAndCommentsDiv{
    display: flex;
    justify-content: space-between;

}
