#editCommentTextArea{

    height:100px;
    width: 400px;
    max-width: 400px;
    color: white;
    background-color: black;
    /* margin-left: 1em  ; */
    border: none;
    overflow: auto;
    outline: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    resize: none;
    caret-color: orangered;
}
#editCommentButton{

    padding:6px;
    background-color: orange;
    color: white;
    cursor: pointer;
    margin-left:160px;
    display: flex;
    justify-content: center;

}


#editCommentButton:hover{


    background-color: orangered;

}

#editCommentButton2{

    padding:6px;
    background-color: black;
    color: orange;
    cursor: pointer;
    width:50px;
    margin-left:180px;
    margin-top: 30px;
    border: none;
    overflow: auto;
    outline: none;


}


#editCommentButton2:hover{


   color: orangered;
   background-color: black;

}

#editCommentForm{
    display: flex;
justify-content: center;
flex-direction: column;
}
