/* TODO Add site wide styles */
/* svg{
    height:50px;
    width: 50px;
} */

body{
    background-color:black;
    color:white;
    overflow-x:none

}

#root{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
