.loggedInButton{
    padding: 15.5px 18px ;
    font-size: 17px;

    background-color:rgb(248, 241, 235) ;
    border: none;
    /* border-radius: 4px; */
    color: rgb(133, 28, 28);
    transition: all 0.2s ease;
    margin-left: 5px;

    margin-top: 10px;


  }

  .profile-dropdown{
    display: flex;
    justify-content: end;
    margin-left: 74%;
    margin-top: 20px;
  }


  .logOutButton{
    display: flex;
    justify-content: end;
    margin-left: 90%;
    padding:10px;
    background-color: orange;
    color: white;
    cursor: pointer;
  }

  .logOutButton:hover{
    background-color: orangered;
  }
