.loginModalSignUpPageButton{
    background: black;
    color: #e78803;
    cursor: pointer;
    padding: 0;
border: none;
}

.logInContainer{
    width: max-content;
    height:350px;
    padding:40px;
    border-radius: 20px;
    box-sizing: border-box;

  ;
}

.flexHelpLogin{

    /* display: flex;
    flex-flow: column; */
}
