.loginModalSignUpPageButton{
    background: black;
    color: #e78803;
    cursor: pointer;
    padding: 0;
border: none;
}

.logInContainer{
    width: max-content;
    height:350px;
    padding:40px;
    border-radius: 20px;
    box-sizing: border-box;

    margin-left: 30% ;
    margin-top: 3%;

    box-shadow: 14px 14px 20px #cbced1,
    -9px -9px 20px rgb(185, 184, 184);
}

.flexHelpLogin{

    /* display: flex;
    flex-flow: column; */
}
