#editTweetTextArea{
    height:100px;
    width: 400px;
    max-width: 400px;
    color: white;
    background-color: black;
    /* margin-left: 1em  ; */
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    caret-color: orangered;
}
#editTweetButton{

    padding:6px;
    background-color: orange;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    border: none;
}


#editTweetButton:hover{


    background-color: orangered;

}

.submitEditButton1{
     margin-top: 30px;
    margin-left: 500px;
}
